{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Actualizar Contraseña
{% endblock %}
{% block headerbar %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb pt-3">
      <li class="breadcrumb-item">
        <a href="{% url 'users' %}" class="text-decoration-none">Usuarios</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Contraseña</li>
    </ol>
  </nav>
  <a class="ms-auto btn btn-sm btn-light border" href="{% url 'users' %}">Cancelar</a>
{% endblock %}
{% block content %}
  <div class="flex-grow-1 d-flex flex-column">
    <form action="#" method="post">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Formulario Usuario@<span class="fw-bolder">{{ useredit.username }}</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">* campos obligatorios</h6>
          <div class="card-body">
            {% csrf_token %}
            <input name="userid" value="{{ useredit.id }}" readonly hidden />
            {{ form|crispy }}
          </div>
          <button type="submit" class="btn btn-sm custom-btn w-100">Actualizar</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
{% block customscript %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const sidebarItems = document.querySelectorAll('#sidebar #sidebar-item')
      sidebarItems[0].classList.add('sidebar-selected')
    })
  </script>
{% endblock %}
