<form class="modal-content" hx-post="{{ request.path }}">                
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">
            Eliminar Libro                        
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">         
        {% if has_certificates %}
            <p>No se puede eliminar el Libro <b>{{ book.title }} - {{ book.id }}</b> seleccionado, porque tiene actas en él</p>        
        {% else %}
            <p>Se eliminara el Libro <b>{{ book.title }} - {{ book.id }}</b> seleccionado, esta acción es irreversible, desea continuar?</p>        
        {% endif %}            
    </div>
    {% if not has_certificates %}
        <div class="modal-footer">                            
            <button type="submit" class="btn btn-light border w-100">Confirmar</button>        
        </div>
    {% endif %}
</form>            