<form class="modal-content" hx-post="{{ request.path }}">                
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">
            {% if baptism %}
                Editar Comunión
            {% else %}
                Nueva Comunión
            {% endif %}    
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body row row-cols-1 row-cols-sm-2">             
        {{ form }}          
        <div id="content"></div>                  
    </div>
    <div class="modal-footer">                    
        <button type="submit" class="btn btn-light border w-100">
            {% if baptism %}
                Actualizar
            {% else %}
                Guardar
            {% endif %}
        </button>
    </div>
</form>            

{% block runtimescript %}
    <script>

        function swap_value(content, id) {
            if (id === 'v_gender'){
                return content.childElementCount === 1 ? document.getElementById(id).value : '';             
            }
            return content.childElementCount === 1 ? document.getElementById(id).innerHTML : '';             
        }

        function onChangeBaptism(){
            let baptism = document.getElementById('id_baptism');
            
            let firstname = document.getElementById('id_firstname');
            let lastname = document.getElementById('id_lastname');
            let birthplace = document.getElementById('id_birthplace');
            let birthday = document.getElementById('id_birthday');
            let gender = document.getElementById('id_gender');
            let father_info = document.getElementById('id_father_info');
            let mother_info = document.getElementById('id_mother_info');
            let baptism_parish = document.getElementById('id_baptism_parish');
            let baptism_date = document.getElementById('id_baptism_date');

            firstname.readOnly = baptism.value ? true : false; 
            lastname.readOnly = baptism.value ? true : false;             
            birthplace.readOnly = baptism.value ? true : false; 
            birthday.readOnly = baptism.value ? true : false; 
            gender.disabled = baptism.value ? true : false; 
            father_info.readOnly = baptism.value ? true : false; 
            mother_info.readOnly = baptism.value ? true : false; 
            baptism_parish.readOnly = baptism.value ? true : false; 
            baptism_date.readOnly = baptism.value ? true : false; 

            const config = { attributes: true, childList: true, subtree: true };
            function callback(mutationList, observer){
                for (const mutation of mutationList) {
                    if (mutation.type === "childList") {                    
                        firstname.value = swap_value(content, "v_firstname");
                        lastname.value = swap_value(content, "v_lastname");
                        birthplace.value = swap_value(content, "v_birthplace");
                        birthday.value = swap_value(content, "v_birthday");
                        gender.value = swap_value(content, "v_gender");
                        father_info.value = swap_value(content, "v_father_info");
                        mother_info.value = swap_value(content, "v_mother_info");
                        baptism_parish.value = swap_value(content, "v_baptism_parish");
                        baptism_date.value = swap_value(content, "v_baptism_date");
                    }
                }
            }
            const observer = new MutationObserver(callback);
            observer.observe(content, config);            
        }
    </script>
{% endblock %}