{% extends 'layout/base.html' %}
{% block title %}
  Bautismos
{% endblock %}
{% block headerbar %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb pt-3">
      <li class="breadcrumb-item">
        <a href="{% url 'baptisms' %}" class="text-decoration-none">Bautismos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Listado</li>
    </ol>
  </nav>
  <a class="ms-auto btn btn-sm custom-btn" href="{% url 'add_baptism' %}">Nuevo</a>
{% endblock %}
{% block alerts %}
  {% include "partial/messages.html" %}
{% endblock %}
{% block content %}
  <div class="flex-grow-1 d-flex flex-column">
    <div id="baptism-list">
      <input class="search form-control" placeholder="🔍 Filtrar ..." />
      <div class="d-flex flex-wrap gap-3 py-2">
        <span class="text-muted">Ordenar por:</span>
        <span class="sort bg-light border p-1 rounded-pill" data-sort="identifier" style="cursor: pointer; font-size: .8rem;">ID</span>
        <span class="sort bg-light border p-1 rounded-pill" data-sort="name" style="cursor: pointer; font-size: .8rem;">Bautisad@</span>
        <span class="sort bg-light border p-1 rounded-pill" data-sort="baptism_parish_date" style="cursor: pointer; font-size: .8rem;">Parroquia / Fecha</span>        
        <span class="sort bg-light border p-1 rounded-pill" data-sort="priests" style="cursor: pointer; font-size: .8rem;">Sacerdote / Párroco</span>        
      </div>

      <ul class="list list-group">
        {% for b in baptisms %}
          <li class="list-group-item list-group-item-action d-flex flex-wrap gap-3">
            <p class="identifier" style="width: 160px">
              <small class="fw-bold">ID Persona</small><br /><small>{{ b.person.identifier }}</small>
            </p>            
            <p class="name" style="width: 200px">
              <small class="fw-bold">Bautisad@</small><br />{{ b.person.firstname }} {{b.person.lastname}}
            </p>            
            <p class="baptism_parish_date" style="width: 200px">
              <small class="fw-bold">Parroquia / Fecha</small><br />{{ b.book.parish.name }}<br />{{b.baptism_date}} 
            </p>            
            <p class="priests" style="width: 150px">
              <small class="fw-bold">Sacerdote / Párroco</small><br />{{ b.priest }}<br>{{ b.parish_priest }}
            </p>

            <p class="goodfathers" style="width: 150px">
              <small class="fw-bold">Padrinos</small><br />{{ b.godfather1_fullname }}<br>{{ b.godfather2_fullname }}
            </p>            
            <p class="actions">
              <small class="fw-bold">Acciones</small><br />
              <a class="me-1 text-decoration-none" title="Editar" href="{% url 'edit_baptism' pk=b.id %}"><i class="bi bi-pencil-square"></i></a>            
              <a class="me-1 text-decoration-none" title="Eliminar" href="" data-bs-toggle="modal" data-bs-id="{{ b.id }}" data-bs-baptism="{{ b.person.firstname }}"  data-bs-target="#deleteModal"><i class="bi bi-trash3"></i></a>               
            </p>
          </li>
        {% endfor %}
      </ul>
      <ul class="pagination mt-2"></ul>
    </div>
    <div class="border-top pt-2 text-muted d-flex justify-content-between">
      <p>
        <caption>Bautismos registrados: {{ baptisms|length }}</caption>
      </p>
    </div>
  </div>


  <!-- Modal Eliminar -->
  <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="{% url 'delete_baptism' %}" method="post">
          <div class="modal-header px-3 py-3">
            <h5 class="modal-title fs-5">Eliminar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body px-3">
            {% csrf_token %}
            <input type="text" name="baptismid" id="idinput" readonly hidden />
            <p id="baptisminfo" class="p-0"></p>
          </div>
          <div class="modal-footer border-0 p-0">
            <button type="submit" class="btn btn-sm custom-btn">Cofirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block customscript %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const sidebarItems = document.querySelectorAll('#sidebar #sidebar-item')
      sidebarItems[4].classList.add('sidebar-selected-animate')
          
    
      const deleteModal = document.getElementById('deleteModal')
      deleteModal.addEventListener('show.bs.modal', (event) => {
        const button = event.relatedTarget
    
        const baptismId = button.getAttribute('data-bs-id')
        const baptism = button.getAttribute('data-bs-baptism')        
    
        const baptismInfo = document.getElementById('baptisminfo')
        const idInput = document.getElementById('idinput')
    
        baptismInfo.innerHTML = `El acta de la persona <b>${baptism}</b>, será eliminada, esta acción es irreversible.<br/> ¿Desea continuar?`
        idInput.value = baptismId
      })
    
      var options = {
        valueNames: ['identifier', 'name', 'baptism_parish_date', 'priests', 'goodfathers'],
        page: 20,
        pagination: true
      }
    
      var baptismList = new List('baptism-list', options)
    })
  </script>
{% endblock %}
