{% extends 'layout/base.html' %}
{% block title %}
  Libros
{% endblock %}
{% block headerbar %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb pt-3">
      <li class="breadcrumb-item">
        <a href="{% url 'books' %}" class="text-decoration-none">Libros</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Listado</li>
    </ol>
  </nav>
  <a class="ms-auto btn btn-sm custom-btn" href="{% url 'add_book' %}">Nuevo</a>
{% endblock %}
{% block alerts %}
  {% include "partial/messages.html" %}
{% endblock %}
{% block content %}
  <div class="flex-grow-1 d-flex flex-column">
    <div id="book-list">
      <input class="search form-control" placeholder="🔍 Filtrar ..." />
      <div class="d-flex flex-wrap gap-3 py-2">
        <span class="text-muted">Ordenar por:</span>
        <span class="sort bg-light border p-1 rounded-pill" data-sort="identifier" style="cursor: pointer; font-size: .8rem;">ID</span>
        <span class="sort bg-light border p-1 rounded-pill" data-sort="type" style="cursor: pointer; font-size: .8rem;">Tipo</span>
        <span class="sort bg-light border p-1 rounded-pill" data-sort="parish" style="cursor: pointer; font-size: .8rem;">Parroquia</span>
        <span class="sort bg-light border p-1 rounded-pill" data-sort="n_pages" style="cursor: pointer; font-size: .8rem;">Páginas</span>
        <span class="sort bg-light border p-1 rounded-pill" data-sort="author" style="cursor: pointer; font-size: .8rem;">Author</span>
        <span class="sort bg-light border p-1 rounded-pill" data-sort="description" style="cursor: pointer; font-size: .8rem;">Descripción</span>
      </div>

      <ul class="list list-group">
        {% for b in books %}
          <li class="list-group-item list-group-item-action d-flex flex-wrap gap-3">
            <p class="identifier" style="width: 160px">
              <small class="fw-bold">ID Libro</small><br /><small>{{ b.identifier }}</small>
            </p>            
            <p class="type" style="width: 100px">
              <small class="fw-bold">Tipo Libro</small><br />{{ b.title }}
            </p>
            <p class="parish" style="width: 100px">
              <small class="fw-bold">Parroquia</small><br />{{ b.parish.name }}
            </p>            
            <p class="n_pages text-center" style="width: 80px">
              <small class="fw-bold">Páginas</small><br />{{b.certificate_count}}/{{ b.n_pages }}
            </p>
            <p class="author" style="width: 100px">
              <small class="fw-bold">Author</small><br />{% if b.user.username %}
                {{b.user.username}}
              {% endif %}
            </p>
            <p class="description" style="width: 300px">
              <small class="fw-bold">Descripción</small><br />{{ b.description }}
            </p>
            <p class="actions">
              <small class="fw-bold">Acciones</small><br />              
              <a class="me-1 text-decoration-none" title="Editar" href="{% url 'edit_book' pk=b.id %}"><i class="bi bi-pencil-square"></i></a>            
              <a class="me-1 text-decoration-none" title="Eliminar" href="" data-bs-toggle="modal" data-bs-id="{{ b.id }}" data-bs-book="{{ b.title }}" data-bs-bookidentifier="{{b.identifier}}" data-bs-target="#deleteModal"><i class="bi bi-trash3"></i></a>               
            </p>
          </li>
        {% endfor %}
      </ul>
      <ul class="pagination mt-2"></ul>
    </div>
    <div class="border-top pt-2 text-muted d-flex justify-content-between">
      <p>
        <caption>Libros registrados: {{ books|length }}</caption>
      </p>
    </div>
  </div>


  <!-- Modal Eliminar -->
  <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="{% url 'delete_book' %}" method="post">
          <div class="modal-header px-3 py-3">
            <h5 class="modal-title fs-5">Eliminar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body px-3">
            {% csrf_token %}
            <input type="text" name="bookid" id="idinput" readonly hidden />
            <p id="bookinfo" class="p-0"></p>
          </div>
          <div class="modal-footer border-0 p-0">
            <button type="submit" class="btn btn-sm custom-btn">Cofirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block customscript %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const sidebarItems = document.querySelectorAll('#sidebar #sidebar-item')
      sidebarItems[3].classList.add('sidebar-selected-animate')
          
    
      const deleteModal = document.getElementById('deleteModal')
      deleteModal.addEventListener('show.bs.modal', (event) => {
        const button = event.relatedTarget
    
        const bookId = button.getAttribute('data-bs-id')
        const book = button.getAttribute('data-bs-book')
        const bookIdentifier = button.getAttribute('data-bs-bookidentifier')
    
        const bookInfo = document.getElementById('bookinfo')
        const idInput = document.getElementById('idinput')
    
        bookInfo.innerHTML = `El libro ${book} con identificador: <b>${bookIdentifier}</b> será eliminado, esta acción es irreversible.<br/> ¿Desea continuar?`
        idInput.value = bookId
      })
    
      var options = {
        valueNames: ['type', 'identifier', 'parish', 'n_pages', 'author', 'description'],
        page: 20,
        pagination: true
      }
    
      var bookList = new List('book-list', options)
    })
  </script>
{% endblock %}
