{% extends "layout/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Control Actas | Libros{% endblock %}
{% block content %}
    <div class="container-fluid d-flex flex-column p-0 bg-light vh-100">
        {% include "partial/navbar.html" %}
        <div class="flex-grow-1 container-fluid bg-white d-flex flex-column flex-sm-row justify-content-center align-items-center"> 
            <div class="container border p-0 m-4">
                <div class="d-flex flex-column flex-sm-row gap-2 align-items-center bg-light border-bottom p-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>                        
                        <input id="bookInputFilter" type="text" placeholder="Filtrar Libro" class="form-control">
                    </div>
                    <button class="btn btn-sm btn-light border col-12 col-sm-2" type="button" hx-get="{% url 'add_book' %}" hx-target="#dialog">
                        <i class="bi bi-journal-plus" style="font-size: 1.2rem;"></i> Nuevo Libro</button>
                </div>                
                <div id="bookList" class="list-group p-3 overflow-scroll" style="height: 600px;" hx-trigger="load, bookItemsChanged from:body" hx-get="{% url 'book_list' %}" hx-target="this">                    
                </div>                
            </div>
        </div>
        <div id="modal" data-bs-backdrop="static" data-bs-keyboard="false" class="modal fade">
            <div id="dialog" class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered" hx-target="this"></div>
        </div>
        {% include "partial/footer.html" %}
    </div>    
{% endblock %}
{% block customscript %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {            
            const bookInputFilter = document.getElementById("bookInputFilter");
            const bookList = document.getElementById("bookList");
            bookInputFilter.addEventListener("input", (e) => {                
                for(let i = 0; i < bookList.children.length; i++){

                    let title = "";
                    const bookTitle = bookList.children[i].querySelector("#bookTitle");
                    if (bookTitle){
                        title = bookTitle.innerHTML;
                    }

                    let pages = "";
                    const bookPages = bookList.children[i].querySelector("#bookPages");
                    if (bookPages){
                        pages = bookPages.innerHTML;
                    }


                    let identifier = "";                    
                    const bookIdentifier = bookList.children[i].querySelector("#bookIdentifier");
                    if (bookIdentifier){
                        identifier = bookIdentifier.innerHTML;
                    }

                    let description = "";
                    const bookDescription = bookList.children[i].querySelector("#bookDescription");
                    if (bookDescription){
                        description = bookDescription.innerHTML;
                    }
                    
                    

                    filter = bookInputFilter.value.trim().toLowerCase();
                    if(filter.length === 0){
                        bookList.children[i].style.display = 'block';
                    }else{                        
                        text = title + " " + pages + " " + identifier + " " + description;
                        if (text.toLowerCase().includes(filter)){
                            bookList.children[i].style.display = 'block';
                        }else{
                            bookList.children[i].style.display = 'none';
                        }
                    }
                }                

            });


            const modal = new bootstrap.Modal(document.getElementById("modal"))
            
            htmx.on("htmx:afterSwap", (e) => {            
                if (e.detail.target.id == "dialog") {
                    modal.show()
                }
            })

            htmx.on("htmx:beforeSwap", (e) => {
                if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
                    modal.hide()
                    e.detail.shouldSwap = false
                }
            })

            htmx.on("hidden.bs.modal", () => {
                document.getElementById("dialog").innerHTML = ""
            })
        })
    </script>
{% endblock %}