{% extends "layout/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Control Actas | Comuniones{% endblock %}
{% block content %}
    <div class="container-fluid d-flex flex-column p-0 bg-light vh-100">
        {% include "partial/navbar.html" %}
        <div class="flex-grow-1 container-fluid bg-white d-flex flex-column flex-sm-row justify-content-center align-items-center"> 
            <div class="container border p-0 m-4">
                <div class="d-flex flex-column flex-sm-row gap-2 align-items-center bg-light border-bottom p-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>                        
                        <input id="communionInputFilter" type="text" placeholder="Filtrar Bautismo" class="form-control">
                    </div>
                    <button class="btn btn-sm btn-light border col-12 col-sm-2" type="button" hx-get="{% url 'add_communion' %}" hx-target="#dialog">
                        <i class="bi bi-journal-plus" style="font-size: 1.2rem;"></i> Registrar</button>
                </div>
                <div id="communionList" class="list-group p-3 overflow-scroll" style="height: 600px;" hx-trigger="load, communionItemsChanged from:body" hx-get="{% url 'communion_list' %}" hx-target="this">                    
                </div>
            </div>
        </div>
        <div id="modal" data-bs-backdrop="static" data-bs-keyboard="false" class="modal fade">
            <div id="dialog" class="modal-dialog modal-dialog-scrollable modal-fullscreen-sm-down modal-dialog-centered" hx-target="this"></div>
        </div>
        {% include "partial/footer.html" %}
    </div>    
{% endblock %}
{% block customscript %}
    <script defer>
        document.addEventListener('DOMContentLoaded', () => {     
            //const btnBaptismChooser = document.getElementById("btnBaptismChooser");
            //const btnBaptismClean = document.getElementById("btnBaptismClean");
            const communionInputFilter = document.getElementById("communionInputFilter");
            const communionList = document.getElementById("communionList");

            communionInputFilter.addEventListener("input", (e) => {                
                for(let i = 0; i < communionList.children.length; i++){

                    let textFilter = "";
                    const baptismFilter = communionList.children[i].querySelector("#textFilter");
                    if(baptismFilter){
                        textFilter = baptismFilter.innerHTML;
                    }
                    

                    filter = communionInputFilter.value.trim().toLowerCase();
                    if(filter.length === 0){
                        communionList.children[i].style.display = 'block';
                    }else{                        
                        text = textFilter;
                        if (text.toLowerCase().includes(filter)){
                            communionList.children[i].style.display = 'block';
                        }else{
                            communionList.children[i].style.display = 'none';
                        }
                    }
                }                

            });

            const modal = new bootstrap.Modal(document.getElementById("modal"))
            
            htmx.on("htmx:afterSwap", (e) => {            
                if (e.detail.target.id == "dialog") {
                    function onBaptismChooser() {
                        alert("Hola Mundo");
                    }
        
                    function onBaptismClear() {
                        console.log("clear");
                    }

                    modal.show()                    
                }
            })

            htmx.on("htmx:beforeSwap", (e) => {
                if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
                    modal.hide()
                    e.detail.shouldSwap = false
                }
            })

            htmx.on("hidden.bs.modal", () => {
                document.getElementById("dialog").innerHTML = ""
            })
        })
    </script>
{% endblock %}