{% extends "layout/base.html" %}
{% load static %}
{% block title %}Control Actas | Index{% endblock %}
{% block content %}
    <div class="container-fluid d-flex flex-column p-0 bg-light vh-100">
        {% include "partial/navbar.html" %}
        <div class="flex-grow-1 container-fluid bg-white d-flex flex-column flex-sm-row justify-content-center align-items-center">       
            <div class="text-center text-sm-start mt-5 mt-sm-0 p-4">
                <h1>Sistema para control de actas</h1>
                <p class="fs-5">LLeva en control y registro de las diferentes actas</p>
            </div>
            <img class="img-fluid" src="{% static 'img/icono.png' %}"  wid/>
        </div>
        {% include "partial/footer.html" %}
    </div>
{% endblock %}