{% extends 'layout/base.html' %}
{% block title %}
  Personas
{% endblock %}
{% block headerbar %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb pt-3">
      <li class="breadcrumb-item">
        <a href="{% url 'persons' %}" class="text-decoration-none">Personas</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Listado</li>
    </ol>
  </nav>
  <a class="ms-auto btn btn-sm custom-btn" href="{% url 'add_person' %}">Nueva</a>
{% endblock %}
{% block alerts %}
  {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show d-flex p-2" role="alert">
      <i class="bi bi-check-circle-fill me-2"></i> {{ message }}
      <button type="button" class="btn-close btn-sm mt-1 p-2" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endblock %}
{% block content %}
  <div class="flex-grow-1 d-flex flex-column">
    <div id="person-list">
      <input class="search form-control" placeholder="🔍 Filtrar ..." />
      <div class="d-flex flex-wrap gap-3 py-2">
        <span class="text-muted">Ordenar por:</span>        
        <span class="sort bg-light border p-1 rounded-pill" data-sort="identifier" style="cursor: pointer; font-size: .8rem;">ID</span>
        <span class="sort bg-light border p-1 rounded-pill" data-sort="name" style="cursor: pointer; font-size: .8rem;">Nombre</span>
        <span class="sort bg-light border p-1 rounded-pill" data-sort="birthday" style="cursor: pointer; font-size: .8rem;">Fecha Nacimiento</span>
        <span class="sort bg-light border p-1 rounded-pill" data-sort="birthplace" style="cursor: pointer; font-size: .8rem;">Lugar Nacimiento</span>
      </div>

      <ul class="list list-group">
        {% for p in persons %}
          <li class="list-group-item list-group-item-action d-flex flex-wrap gap-3">
            <p class="identifier" style="width: 160px">
              <small class="fw-bold">ID Persona</small><br /><small>{{ p.identifier }}</small>
            </p>
            <p class="name" style="width: 200px">
              <small class="fw-bold">Nombre Completo</small><br />{{ p.firstname }} {{p.lastname}}
            </p>

            <p class="birthday" style="width: 180px">
              <small class="fw-bold">Fecha de Nacimiento</small><br />{{ p.birthday }}
            </p>

            <p class="birthplace" style="width: 180px">
              <small class="fw-bold">Lugar de Nacimiento</small><br />{{ p.birthplace }}
            </p>

            <p class="actions">
              <small class="fw-bold">Actas</small><br />
              <a class="me-1 text-decoration-none" title="Bautismo" ><i class="bi bi-journal-text"></i></a>            
              <a class="me-1 text-decoration-none" title="Comunión" ><i class="bi bi-journal-text"></i></a>            
              <a class="me-1 text-decoration-none" title="Confirmación" ><i class="bi bi-journal-text"></i></a>            
              <a class="me-1 text-decoration-none" title="Matrimonio" ><i class="bi bi-journal-text"></i></a>            
            </p>
            
            <p class="actions">
              <small class="fw-bold">Acciones</small><br />
              <a class="me-1 text-decoration-none" title="Vista Previa" href="" data-bs-toggle="modal" data-bs-id="{{ p.id }}" data-bs-target="#previewModal"><i class="bi bi-eye-fill"></i></a>                
              <a class="me-1 text-decoration-none" title="Editar" href="{% url 'edit_person' pk=p.id %}"><i class="bi bi-pencil-square"></i></a>            
              <a class="me-1 text-decoration-none" title="Eliminar" href="" data-bs-toggle="modal" data-bs-id="{{ p.id }}" data-bs-person="{{ p.firstname }} {{p.lastname}}" data-bs-personidentifier="{{p.identifier}}" data-bs-target="#deleteModal"><i class="bi bi-trash3"></i></a> 
            </p>
          </li>
        {% endfor %}
      </ul>
      <ul class="pagination mt-2"></ul>
    </div>
    <div class="border-top pt-2 text-muted d-flex justify-content-between">
      <p>
        <caption>Personas registradas: {{ persons|length }}</caption>
      </p>
    </div>
  </div>

  <!-- Modal Vista Previa -->
  <div class="modal fade" id="previewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header px-3 py-3">
          <h5 class="modal-title fs-5">Vista Previa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start p-1 ps-3">
              <div style="font-size: .8rem;">
                <div class="fw-bolder"><small>ID Persona</small></div><span id="txtidentifier"></span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start p-1 ps-3">
              <div style="font-size: .8rem;">
                <div class="fw-bolder"><small>Nombre Completo</small></div><span id="txtname"></span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start p-1 ps-3">
              <div style="font-size: .8rem;">
                <div class="fw-bolder"><small>Fecha de Nacimiento</small></div><span id="txtbirthday"></span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start p-1 ps-3">
              <div style="font-size: .8rem;">
                <div class="fw-bolder"><small>Lugar de Nacimiento</small></div><span id="txtbirthplace"></span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start p-1 ps-3">
              <div style="font-size: .8rem;">
                <div class="fw-bolder"><small>Genero</small></div><span id="txtgender"></span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start p-1 ps-3">
              <div style="font-size: .8rem;">
                <div class="fw-bolder"><small>Información del Padre</small></div><span id="txtfather"></span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start p-1 ps-3">
              <div style="font-size: .8rem;">
                <div class="fw-bolder"><small>Información de la Madre</small></div><span id="txtmother"></span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start p-1 ps-3">
              <div style="font-size: .8rem;">
                <div class="fw-bolder"><small>Última Modificación</small></div><span id="txtmodified"></span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start p-1 ps-3">
              <div style="font-size: .8rem;">
                <div class="fw-bolder"><small>Fecha de Registro</small></div><span id="txtcreateat"></span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start p-1 ps-3">
              <div style="font-size: .8rem;">
                <div class="fw-bolder"><small>Registrado Por</small></div><span id="txtuser"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Eliminar -->
  <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="{% url 'delete_person' %}" method="post">
          <div class="modal-header px-3 py-3">
            <h5 class="modal-title fs-5">Eliminar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body px-3">
            {% csrf_token %}
            <input type="text" name="personid" id="idinput" readonly hidden />
            <p id="personinfo" class="p-0"></p>
          </div>
          <div class="modal-footer border-0 p-0">
            <button type="submit" class="btn btn-sm custom-btn">Cofirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block customscript %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const sidebarItems = document.querySelectorAll('#sidebar #sidebar-item')
      sidebarItems[1].classList.add('sidebar-selected-animate')
    
      const previewModal = document.getElementById('previewModal')
      previewModal.addEventListener('show.bs.modal', (event) => {
        const button = event.relatedTarget
    
        const personId = button.getAttribute('data-bs-id')
    
        const identifier = document.getElementById('txtidentifier')
        const name = document.getElementById('txtname')
        const birthday = document.getElementById('txtbirthday')
        const birthplace = document.getElementById('txtbirthplace')
        const gender = document.getElementById('txtgender')
        const father = document.getElementById('txtfather')
        const mother = document.getElementById('txtmother')
        const modified = document.getElementById('txtmodified')
        const createat = document.getElementById('txtcreateat')
        const user = document.getElementById('txtuser')
    
        var url = "{% url 'get_person' pk=0 %}".replace('0', personId)
        fetch(url)
          .then((res) => res.json())
          .then((data) => {
            identifier.innerHTML = `${data[0].fields.identifier}`
            name.innerHTML = `${data[0].fields.firstname} ${data[0].fields.lastname}`
            birthday.innerHTML = `${data[0].fields.birthday}`
            birthplace.innerHTML = `${data[0].fields.birthplace}`
            gender.innerHTML = `${data[0].fields.gender}`
            father.innerHTML = `${data[0].fields.father_info}`
            mother.innerHTML = `${data[0].fields.mother_info}`                
            modified.innerHTML = `${data[0].fields.modified ? data[0].fields.modified : ''}` 
            createat.innerHTML = `${data[0].fields.create_at}` 

            author = data[0].fields.user
            if (author) {
              var url2 = "{% url 'get_user' pk=0 %}".replace('0', data[0].fields.user)
              fetch(url2)
                  .then((res) => res.json())
                  .then((data) => {            
                    user.innerHTML = `${data[0].fields.username ? data[0].fields.username : ''}` 
                  })
            }            
          })
      })
    
      const deleteModal = document.getElementById('deleteModal')
      deleteModal.addEventListener('show.bs.modal', (event) => {
        const button = event.relatedTarget
    
        const personId = button.getAttribute('data-bs-id')
        const person = button.getAttribute('data-bs-person')
        const personIdentifier = button.getAttribute('data-bs-personidentifier')
    
        const personInfo = document.getElementById('personinfo')
        const idInput = document.getElementById('idinput')
    
        personInfo.innerHTML = `La Persona ${person} con identificador: <b>${personIdentifier}</b> será eliminad@, esta acción es irreversible.<br/> ¿Desea continuar?`
        idInput.value = personId
      })
    
      var options = {
        valueNames: ['identifier', 'name', 'birthday', 'birthplace'],
        page: 20,
        pagination: true
      }
    
      var personList = new List('person-list', options)
    })
  </script>
{% endblock %}
