{% extends 'layout/base.html' %}
{% block title %}
  Usuarios
{% endblock %}
{% block headerbar %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb pt-3">
      <li class="breadcrumb-item">
        <a href="{% url 'users' %}" class="text-decoration-none">Usuarios</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Listado</li>
    </ol>
  </nav>
  <a class="ms-auto btn btn-sm btn-primary" href="{% url 'add_user' %}">Nuevo</a>
{% endblock %}
{% block alerts %}
  {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show d-flex p-2" role="alert">
      <i class="bi bi-check-circle-fill me-2"></i> {{ message }}
      <button type="button" class="btn-close btn-sm mt-1 p-2" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endblock %}
{% block content %}
  <div class="flex-grow-1 d-flex flex-column">
    {% comment %} <div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border-end-0" id="basic-addon1"><i class="bi bi-search"></i></span>
        </div>
        <input type="text" class="form-control border-start-0" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" />
      </div>
    </div> {% endcomment %}

    <table id="userstable"></table>
    <div class="border-top pt-2 text-muted">
      <caption>Usuarios registrados: {{ users|length }}</caption>
    </div>
  </div>
{% endblock %}
{% block customscript %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      new gridjs.Grid({
        columns: ['Name', 'Email', 'Phone Number', 'Gender'],
        search: true,
        sort: true,
        width: '1000px',
        height: '500px',
        pagination: {
          limit: 20
        },
        data: () => {
          return new Promise((resolve) => {
            setTimeout(
              () =>
                resolve([
                  ['Dirk', 'dborkett0@com.com', '(646) 3432270', 'Male'],
                  ['Maryl', 'mchampkins1@dailymail.co.uk', '(980) 3335235', 'Female'],
                  ['Stefan', 'sbrawson2@smh.com.au', '(180) 3533257', 'Male'],
                  ['Stephanie', 'scouronne4@storify.com', '(904) 5358792', 'Female'],
                  ['Emeline', 'esooley5@cyberchimps.com', '(308) 6561908', 'Female'],
                  ['Gavra', 'gkrout9@foxnews.com', '(383) 4909639', 'Female'],
                  ['Roxi', 'rvillage1@businessweek.com', '(980) 3335235', 'Male'],
                  ['Jamey', 'jsheringham0@rakuten.co.jp', '(773) 5233571', 'Male'],
                  ['Maye', 'mambrosoni8@prweb.com', '(895) 9997017', 'Female']
                ]),
              2000
            )
          })
        },
        className: {
          table: 'table'
        },
        language: {
          search: {
            placeholder: '🔍 Filtrar ...'
          },
          pagination: {
            previous: '<',
            next: '>',
            showing: '👓 Mostrando',
            results: () => 'usuarios'
          }
        }
      }).render(document.getElementById('userstable'))
    })
  </script>
{% endblock %}
