<form class="modal-content" hx-post="{{ request.path }}">                
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">
            {% if baptism %}
                Editar Bautismo
            {% else %}
                Nuevo Bautismo
            {% endif %}    
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body row row-cols-1 row-cols-sm-2"> 
        {% if baptism %}
            <input name="gender" type="text" class="form-control mb-3" value="{{ bautism.gender }}" readonly hidden>            
        {% endif %}

        {{ form }}                            
    </div>
    <div class="modal-footer">                    
        <button type="submit" class="btn btn-light border w-100">
            {% if baptism %}
                Actualizar
            {% else %}
                Guardar
            {% endif %}
        </button>
    </div>
</form>            