<form class="modal-content" hx-post="{{ request.path }}">                
    <div class="modal-header">
        <h5 class="modal-title">                        
            Vista Rapida            
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body p-4">         
        <div class="row row-cols-2 mb-4">                
            <small><small class="fw-bolder">Libro</small><br>{{ baptism.book.identifier }}</small>                     
            <small><small class="fw-bolder">Fecha de Registro</small><br>{{ baptism.create_at|date:'d/m/Y' }}</small>                     
        </div>
        <hr>
        <div class="row row-cols-2">
            <div class="mb-2">
                <small><small class="fw-bolder">Nombres y Apellidos</small><br>{{ baptism.firstname }} {{ baptism.lastname }}</small>                    
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Genero</small><br>{{ baptism.gender }}</small>   
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Lugar de Nacimiento</small><br>{{ baptism.birthplace }}</small>   
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Fecha de Nacimiento</small><br>{{ baptism.birthday }}</small>   
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Información del Padre</small><br>{{ baptism.father_firstname }} {{ baptism.father_lastname}}</small>   
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Información de la Madre</small><br>{{ baptism.mother_firstname }} {{ baptism.mother_lastname}}</small>   
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Parroquia</small><br>{{ baptism.baptism_parish }}</small>   
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Fecha de Bautismo</small><br>{{ baptism.baptism_date }}</small>   
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Sacerdote</small><br>{{ baptism.priest }}</small>   
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Párroco</small><br>{{ baptism.parish_priest }}</small>   
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Información del Padrino 1</small><br>{{ baptism.godfather1_fullname }}</small>   
            </div>
            <div>
                <small><small class="fw-bolder">Información del Padrino 2</small><br>{% if baptism.godfather2_fullname %}{{baptism.godfather2_fullname}}{% endif %}</small>   
            </div>
        </div>
    </div>    
</form>            