{% for baptism in baptismList %}
    <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">#{{baptism.id}} {{ baptism.firstname}} {{ baptism.lastname}}</h5>
            <small class="text-muted">{{baptism.baptism_date|date:'d/m/Y'}}</small>
        </div>
        <div class="d-flex gap-4 mb-1">
            <p style="font-size: .8rem"><small class="fw-bold">Parroquia</small><br>{{baptism.baptism_parish}}</p>             
            <p style="font-size: .8rem"><small class="fw-bold">Sacerdote</small><br>{{baptism.priest}}</p>             
            <p style="font-size: .8rem"><small class="fw-bold">Párroco</small><br>{{baptism.parish_priest}}</p>                         
        </div>
        <p class="mb-1 d-flex gap-2 justify-content-end">
            <a href="#" class="btn btn-sm btn-light border" hx-get="{% url 'preview_baptism' pk=baptism.id %}" hx-target="#dialog">Ver</a>
            <a href="#" class="btn btn-sm btn-light border" hx-get="{% url 'edit_baptism' pk=baptism.id %}" hx-target="#dialog">Editar</a>
            <a href="#" class="btn btn-sm btn-light border" hx-get="{% url 'delete_baptism' pk=baptism.id %}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-target="#dialog">Eliminar</a>        
        </p>
    </div>
{% endfor %}