{% for book in bookList %}
    <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 id="bookTitle" class="mb-1">#{{book.id}} {{ book.title }}</h5>
            <small id="bookPages" hx-trigger="load" hx-get="{% url 'baptisms_count' pk=book.id %}" hx-target="this" class="text-muted"></small>
        </div>
        <p class="mb-1"><small id="bookIdentifier" class="fw-bold">{{ book.identifier }}</small><br><small id="bookDescription" class="fst-italic">{% if book.description %}{{book.description}}{% endif %}</small></p>
        <p class="mb-1 d-flex gap-2 justify-content-end">
            <a href="#" class="btn btn-sm btn-light border" hx-get="{% url 'edit_book' pk=book.id %}" hx-target="#dialog">Editar</a>
            <a href="#" class="btn btn-sm btn-light border" hx-get="{% url 'delete_book' pk=book.id %}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-target="#dialog">Eliminar</a>        
        </p>
    </div>
{% endfor %}

