<form class="modal-content" hx-post="{{ request.path }}">                
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">
            Eliminar Bautismo            
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">                 
            <p>Se eliminara el Bautismo <b>#{{baptism.id}}</b> del Libro <b>{{ baptism.book.title }}</b>, con la información del bautisado: <i class="fw-bolder">{{ baptism.firstname }} {{ baptism.lastname }}</i> esta acción es irreversible, desea continuar?</p>                
    </div>
    <div class="modal-footer">                    
        <button type="submit" class="btn btn-light border w-100">Confirmar</button>
    </div>
</form>            