<form class="modal-content" hx-post="{{ request.path }}">                
    <div class="modal-header">
        <h5 class="modal-title">                        
            Vista Rapida            
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body p-4">         
        <div class="row row-cols-2 mb-4">                
            <small><small class="fw-bolder">Permisos</small><br>{% if user.is_superuser %}Administrador{% else %}Usuario{% endif %}</small>                     
            <small><small class="fw-bolder">Fecha de Registro</small><br>{{ user.date_joined|date:'d/m/Y' }}</small>                     
        </div>
        <hr>
        <div class="row row-cols-2">
            <div class="mb-2">
                <small><small class="fw-bolder">Usuario</small><br>{{ user.username }}</small>   
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Nombres</small><br>{{ user.first_name }}</small>                    
            </div>            
            <div class="mb-2">
                <small><small class="fw-bolder">Apellidos</small><br>{{ user.last_name }}</small>   
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Correo</small><br>{{ user.email }}</small>   
            </div>
            <div class="mb-2">
                <small><small class="fw-bolder">Último Acceso</small><br>{% if user.last_login %} {{ user.last_login }} {% endif %}</small>   
            </div>            
        </div>
    </div>    
</form>            