{% for user in userList %}
    <div class="list-group-item list-group-item-action">
        <p id="textFilter" hidden>{{user.username}} {{user.id}} {{user.first_name}} {{user.last_name}} {{user.email}} {{user.date_joined|date:'m/d/Y'}} {% if user.is_superuser %}Administrador{% else %}Usuario{% endif %}</p>
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-person-fill"></i> {{ user.username }}</h5>            
        </div>
        <div class="d-flex flex-column flex-sm-row gap-0 gap-sm-4 mb-1">
            <p style="font-size: .8rem"><small class="fw-bold">Permisos</small><br>{% if user.is_superuser %}Administrador{% else %}Usuario{% endif %}</p>             
            <p style="font-size: .8rem"><small class="fw-bold">Nombre</small><br>{{user.first_name}}</p>             
            <p style="font-size: .8rem"><small class="fw-bold">Apellido</small><br>{{user.last_name}}</p>             
            <p style="font-size: .8rem"><small class="fw-bold">Último acceso</small><br>{% if user.last_login %}{{user.last_login}}{% endif %}</p>          
        </div>        
        <p class="mb-1 d-flex">
            <div class="btn-group float-end">
                <button  class="btn btn-sm btn-light border" style="font-size: .8rem;" title="Vista Previa" hx-get="{% url 'preview_user' pk=user.id %}" hx-target="#dialog"><i class="bi bi-eye-fill"></i> Preview</button>
                <button  class="btn btn-sm btn-light border" style="font-size: .8rem;" title="Editar" hx-get="{% url 'edit_user' pk=user.id %}" hx-target="#dialog"><i class="bi bi-pencil-square"></i> Editar</button>
                <button  class="btn btn-sm btn-light border" style="font-size: .8rem;" title="Editar Contraseña" hx-get="{% url 'edit_password' pk=user.id %}" hx-target="#dialog"><i class="bi bi-person-fill-lock"></i> Contraseña</button>
                <button class="btn btn-sm btn-light border" style="font-size: .8rem;" title="Eliminar" hx-get="{% url 'delete_user' pk=user.id %}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-target="#dialog" {% if user == loggedInUser %}disabled{% endif %}><i class="bi bi-trash-fill"></i> Eliminar</button>        
            </div>
        </p>
    </div>
{% endfor %}

